{% extends "base.html" %}

{% block title %}Accesso Utente{% endblock %}

{% block content %}
    <div class="grid">
        <div></div> <article> <h2>Accedi al tuo Catalogo</h2>
            
            <form method="post">
                {% csrf_token %}
                
                {{ form }}
                
                <input type="hidden" name="next" value="{{ next }}" />
                
                <button type="submit" class="contrast">
                    Login
                </button>
            </form>

            <p style="margin-top: 20px; font-size: 0.9em;">
                <a href="{% url 'register' %}" class="secondary">Non hai un account? Registrati qui.</a>
            </p>
        </article>
        
        <div></div> </div>
{% endblock %}